.container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 40px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  flex-direction: row;
}

.searchContainer label input {
  margin-left: 15px;
}


.searchContainer button {
  height: 30px;
  margin-left: 2px; 
}

.input {
  height: 30px;
  border: none;
  background-color: #636b46;
  color: #e9e7da;
  font-family: Lucida Console;
  padding-left: 3px;
}

.input:focus, .button:focus {
  outline-color: #373f27;
}

.button {
  background-color: #636b46;
  color: #e9e7da;
}

.button:hover {
  background-color: #131900;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
